<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="2122chapeau.database.windows.net" connectionString="Data Source=2122chapeau.database.windows.net;
				Initial Catalog=db_IT1d3; 
				User=group_IT1d3;
				Password=w*uJ*5sZ7+zM"/>
	</connectionStrings>
</configuration>